<%- include('partials/header', {title: "Signup"}) %>
<div class="main-content">
  <h1>Sign Up</h1>
  <div class="login-signup-card">
    <form action="/signup" method="post">
      <% if (errorMessage) { %>
      <p class="error-message"><%= errorMessage %></p>
      <% } %>
      <div class="form-input-container">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div class="form-input-container">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <div class="form-input-container">
        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password" id="confirmPassword" name="confirmPassword" required />
      </div>
      <button type="submit" class="action-button">Sign Up</button>
    </form>
    <p style="font-size: 16px; margin-top: 30px; text-align: center;">
      Already have an account?&nbsp;
      <a href="/login" class="register-link">Log in!</a>
    </p>
  </div>
</div>
<%- include('partials/footer') %>
